body {
    background: #20232d;
    color: #ffffff;
    font-size: 150%;
    text-shadow: 2px 2px 3px black;
    font-family: 'Agency FB Local File'
}

@font-face {
    font-family: "Agency FB Local File";
    src: url("../contents/AGENCYR.ttf") format('truetype');
}


.Title {
    color: #9cff78;
}

.Subtitle {
    color: #ffeb78;
}

a {
    color: #F07500;
}
.Banner{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.nacimage {
    width: 300px;
    height: 300px;
    background-size: 300px 300px;
    margin-top: 50px;
    background-image: url('../img/DerpRotate.gif');
    transition: transform 150ms ease-in-out;
}

    .nacimage:hover {
        transform: translateX(60px) rotate(20deg);
    }
